html
    head
        title PUG
        script(src="https://unpkg.com/axios/dist/axios.min.js") 
        style body{color:blue}
        script 
            console.log('hello pug')
    body
        block content